# This file is here to allow docker to cache more of the build process
aiodocker==0.24.0
requests==2.31.0
mypy==1.5.1
pyyaml==6.0.1
pydantic==2.3.0
fastapi==0.103.1
firebase-admin==6.2.0
websockets==11.0.3
trio==0.22.2
httpx==0.25.0
redis==5.0.1
groq==0.11.0
email-normalize==2.0.0
